<HTML>

<HEAD>
    <SCRIPT SRC="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js">
    </SCRIPT>
    <SCRIPT>
        function startVideo() {
            //when the buffer image is loaded, put it in the display
            $('#image-buffer').load(function() {
                var loadedImage = $(this).attr('src');

                $('#image-displayed').attr('src', loadedImage);

                $(this).attr('src',
                    'http://192.168.0.106/tmpfs/snap.jpg?num=' + Math.random());
            });

            $('#image-buffer').attr('src',
                'http://192.168.0.106/tmpfs/snap.jpg?num=' + Math.random());
        }


        function stopVideo() {
            $('#image-buffer').unbind('load');
            $('#image-buffer').attr('src', '');
            $('#image-displayed').attr('src', '');
        }
    </SCRIPT>
</HEAD>

<BODY>
    <BUTTON ONCLICK="startVideo();">Start Video</BUTTON>
    <BR/>
    <BUTTON ONCLICK="stopVideo();">Stop Video</BUTTON>
    <BR/>
    <IMG ID="image-displayed" />
    <IMG ID="image-buffer" STYLE="visibility: hidden;" />
</BODY>

</HTML>